{{> layout/header}}

<style>
    .offer-table th, .offer-table td {
        text-align: center;
        vertical-align: middle; /* 셀 내용을 수직 가운데 정렬 */
    }
</style>

<div class="container">
    <table class="table table-hover offer-table scroll" style="text-align: center; border-top:2px solid #ddd">
        <br>
        <h2>내 구매 목록</h2>
        <br>


        <!--        목록 -->
        <thead>
        <tr>
            <th class="center-align col-1">No</th>
            <th class="center-align col-3">사진</th>
            <th class="center-align col-4">상품명</th>
            <th class="center-align col-2">상품가격</th>
            <th class="center-align col-2">구매수량</th>
        </tr>
        </thead>
        <!--        목록 끝-->

        <!--        상품 테이블-->
        <tbody>

        <tr class="offer-table">
            <th scope="row">Num</th>
            <td>
                <img src="" width="100" height="100">
            </td>
            <td>name</td>
            <td class="price">price</td>
            <td class="buyQty">buyQty</td>
        </tr>

        </tbody>
        <!--        상품 테이블 끝-->

    </table>
</div>

<div style="margin-bottom: 15%"></div>

<script src="/js/list.js"></script>

{{> layout/footer}}